@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, p, button, span {
  font-family: "Nunito";
  letter-spacing: 0.04rem;
}

.welcome-screen {
  background-color: hsl(120, 100%, 90%);
  width: clamp(10rem, 60vw, 40rem);
  margin: 3rem auto;
  padding: 2rem 5rem;
  text-align: center;
}

h1 {
  font-size: 4rem;
  line-height: 4rem;
}

.icon {
  font-size: 6rem;
}

p {
  font-size: 1.5rem;
  margin-block: 2rem;
  text-align: center;
}

button {
  background-color: hsl(120, 100%, 95%);
  font-size: 2rem;
  padding: 1rem;
  border: none;
  cursor: pointer;
}

button:disabled {
  color: hsl(120, 50%, 70%);
}

button:hover {  
  background-color: hsl(120, 100%, 85%);
}

.start {
  background-color: rgb(0, 210, 106); 
  color: black; 
  font-weight: 700;
  height: 5rem;
}

.start:hover {
  background-color: hsl(0, 0%, 100%);
  color: rgb(0, 210, 106); 
}

.snake-body {
  background-color: hsl(120, 100%, 85%);
}

.snake-head {
  background-color: hsl(120, 85%, 70%);
}

.apple {
  background-color: hsl(0, 85%, 65%);
}

.board {
  margin: 1.5rem auto;
  position: relative;
}

td {
  background-color: hsl(0, 0%, 93%);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1.5rem;
}

.controls {
  width: 408px;
  height: 4rem;
  margin: 0 auto;
  margin-block-start: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none;
}

.score span, .restart {
  font-size: 1rem;
}

.restart {
  padding-block-start: 1.1rem;
}

.score {
  background-color: hsl(120, 100%, 95%);
  width: max-content;
  padding: 1rem;
  padding-block-start: 1.1rem;
}

.overlay {
  width: 450px;
  height: 450px;
  position: absolute;
  top: -15px;
  left: -15px;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  background-color: rgba(255,255,255,0.5);
}

.overlay-text {
  font-size: 1.2rem;
  width: 17rem;
  height: max-content;
  border-radius: 1.5rem;
  background-color: hsl(120, 100%, 90%);
  padding: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.overlay-text p {  
  font-size: 1.2rem;
}

.close {
  color: black;
  font-size: 1.5rem;
  line-height: 1.5rem;
  position: absolute;
  right: 1.5rem;
  top: 1.2rem;
  cursor: pointer;
}

.close:hover {
  color: hsl(0, 85%, 55%);
}

.overlay-text .over {
  font-size: 2rem;
  font-weight: bold;
}