* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, p, button {
  font-family: monospace;
}

.welcome-screen {
  background-color: hsl(120, 100%, 85%);
  width: clamp(10rem, 70vw, 60rem);
  margin: 3rem auto;
  padding: 2rem;
  text-align: center;
}

/* Comment the below out for easier testing */

/* start */

h1 {
  font-size: 3.5rem;
}

.icon {
  font-size: 6rem;
}

p {
  font-size: 1.5rem;
  margin-block: 2rem;
}

/* end */

button {
  background-color: #eee;
  font-size: 2rem;
  padding: 1rem;
  border: none;
  cursor: pointer;
}

button:hover {  
  background-color: #ddd;
}

.start {
  background-color: hsl(120, 100%, 70%);
}

.start:hover {
  background-color: #fff;
}

.snake-body {
  background-color: hsl(120, 100%, 85%);
}

.snake-head {
  background-color: hsl(120, 85%, 70%);
}

.apple {
  background-color: hsl(0, 85%, 65%);
}

.board {
  margin: 1.5rem auto;
}

td {
  background-color: #eee;
  width: 2rem;
  height: 2rem;
}

.controls {
  width: fit-content;
  margin: 0 auto;
  display: none;
}

.pause, .play, .restart {
  font-size: 2rem;
}

@media (min-width: 600px) {
  h1 {
    font-size: 6rem;
  }
}